@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Ranchers', cursive;
}

* {
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
.telephone-field::-webkit-outer-spin-button,
.telephone-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.field[type=number] {
  -moz-appearance: textfield;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-heading {
    color: white;
    background: blueviolet;
    width: 400px;
    text-align: center;
}

.form-area {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blueviolet; 
    width: 400px;
    padding: 0 30px;
    padding-bottom: 30px;
}

.field {
    margin: 5px 0;
    padding: 10px;
    width: 335px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: white;   
    font-size: 20px;
}

.button {
    width: 180px;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background: none;
    outline: none;
    border: 2px solid white;
    color: white;
}

.button:hover {
    background: white;
    color: blueviolet;
}