* {box-sizing: border-box}

.container {
  padding: 16px;
}

body {
  font-family: sans-serif;
}

/* Background */
.outer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #305c51;
  padding-top: 50px;
}

/* Box with the fields */
.box {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/* Input labels */
label {
    float: left;
    text-align: right;
    clear: left;
    font-family: sans-serif;
    font-size: medium;
    margin: 5px;
    font-weight: bold;
}

/* Input fields */
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: sans-serif;
    font-size: medium;
}

/* Change background when selected */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Submit button */
.submit {
  width: 100%;
  background-color: #38863a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  cursor: pointer;
    }
