div {
  display: block;
}

h4 {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

.long_card {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 33% 33% 33%;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 8px;
  background-color: #2090c1;
  padding: 8px;

}

.grid-container>div {
  background-color: #e3f1f7;
  text-align: center;
  padding: 16px;
  margin: 8px;
  font-size: 20px;

}


.grid-container2 {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto;
}

.grid-container2:hover {
  transform: scale(1.08);
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}


@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .long_card {
    grid-column-end: 1;
  }

}