/* Navbar */
.nav {
    font-family: 'Courier', Courier, monospace;
    background-color: #000000; /* Placeholder - need to choose*/
    font-size: large;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.burger-border {
    border-left: 1px solid #292929;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* Header */
.header {
    font-family: 'Courier', Courier, monospace;
    background-color: #292929; /*color was #dadada*/
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.header h1 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.header a {
    color: rgb(255, 108, 40);
    text-decoration: none;
}

.header a:hover {
    color: rgb(253, 80, 0);
}

.nav a {
    color: rgb(255, 108, 40)
}

.nav a:hover {
    color: rgb(253, 80, 0); /* Placeholder - need to choose*/
}

/* Footer */
.footer {
    font-family: 'Courier', Courier, monospace;
    background-color: rgb(0, 0, 0); /* Placeholder - need to choose* colour was #ada7a7 */
}

.footer h4 {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.footer a {
    text-decoration: none;
    color: rgb(255, 108, 40); /* Placeholder - need to choose*/
}

.footer a:hover {
    color: rgb(253, 80, 0); /* Placeholder - need to choose*/
}


/* Product Card */
.card-footer-link {
    padding: 0.5rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgb(255, 108, 40);
    font-size: 17px;
}

.card a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.card a:hover {
    color: rgb(202, 202, 202);
}

.card button {
    border: none;
    outline: 0;
    color: white;
    background-color: #5EA822;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}

.card p {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.card h4 {
    font-family: 'Courier', Courier, monospace;
    font-weight: bold;
}

.card h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.card-img-top {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition-duration: 0.2s;
    transform: scale(1.025);
}

/* Contact Us Form */
.contact {
    font-family: 'Courier', Courier, monospace;
}

/* https://www.codeply.com/go/wv5NMmTgwq/bootstrap-4-input_group-prepend-equal-width */
.input-group > .input-group-prepend {
    flex: 0 0 15%;
}

.input-group .input-group-text {
    width: 100%;
}

/* Cart */
.cart_container {
    margin-top: 10%;
}

.cart_total {
    text-align: center;
    margin-right: 8%;
    margin-left: 73%;
    margin-bottom: 10%
}

.cart_row {
    display: flex;
}

.cart_column {
    align-items: center;
}

.cart_quantity_input {
    width: 45px;
}

.cart-basic {
    text-align: center;
    width: 33%;
}

/* About us */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-us-container {
    text-align: justify;
}

.font-weight-bold {
    font-weight: bold;
}

/* Beginner Quiz */
.btn-dark {
    font-family: 'Courier', Courier, monospace;
    background-color: #292929 !important;
    color: rgb(253, 80, 0) !important;
}

.btn-dark:hover {
    font-family: 'Courier', Courier, monospace;
    background-color: #000000 !important;
    color: rgb(253, 80, 0) !important;
}

.star {
    cursor: pointer;
    color: rgb(255, 108, 40);
    display: inline-block;
    font-family: "Font Awesome 5 Free", monospace;
    font-size: xxx-large;
    transition: 500ms;
}

.star:hover {
    color: rgb(253, 80, 0);
    font-weight: bold;
    transform: scale(1.25);
}
