header {
    width: 100%;
    margin: auto;
    background-color: dimgrey;
    text-align: center;
}

footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -50px;
    width: 100%;
    margin: auto;
    background-color: dimgrey;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
}

.product_display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.product_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 50px 20px 20px 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}

.product_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition-duration: 0.5s;
}

.product_card h1 {
    padding-left: 5%;
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.product_card h2 {
    padding-left: 5%;
    font-size: 13px;
    margin-top: 0px;
}

.product_card a {
    text-decoration: none;
}

.product_card a:visited {
    text-decoration: none;
    color: black;
}

.star_rating {
    color: gold;
    font-size: 20px;
    padding-left: 5%;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline;
}

.reviews {
    display: inline;
}

.price {
    padding-left: 5%;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: bold;
}

.product_card hr {
    border: 1px solid #979797;
    width: 95%;
}

.product_card img {
    max-height: 230px;
    width: 100%;
}

/* Load SVG cart icon */
.product_card button::before {
    background: url("cart.svg") no-repeat scroll center center / 80% auto rgba(255, 255, 255, 0);
    content: "";
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}


.product_card button {
    border: none;
    outline: 0;
    color: white;
    background-color: #5EA822;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}

.product_card button:hover {
    opacity: 0.7;
}