html, body {
    margin: 0;
    font-family: arial,sans-serif;
    min-width: 900px;
    line-height: 14px;
    font-size: 14px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #0066c0;
  }
  
  a:hover {
    color: #c45500;
  }
  
  #banner {
    background: #F6F6F6 url('../img/banner.jpg') no-repeat top left;
    height: 55px;
    background-size: 1920px;
    min-width: 1000px;
    display: block;
  }
  
  header {
    background-color: #232f3e;
    height: 99px;
  }
  
  .nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
  }
  
  .nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;