.background {
  width: 100%;
  height: 100%;
  background-image: url(trees.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  
}

.form-base {
  width: 350px;
  height: 380px;
  position: relative;
  margin: 3% auto;
  background: linear-gradient(to right, #ff9033, #ffe1a0, #ff9033);
  padding: 7px;
}

.form-title {
  top: 10px;
  left: 52px;
  position: absolute;
  color: rgb(0, 0, 0);
}

#input-base {
  top: 100px;
  left: 20px;
  position: absolute;
  width: 320px;
  height: 290px;
}

label {
  float: left;
  width: 45%;
  height: 50%;
  margin: 1.5px 0px;

}

input {
  float: right;
  width: 45%;
}

.submit-but {
  top: 240px;
  left: 123px;
  position: absolute;
  height: 15%;
  width: 25%;
  cursor: pointer;
  display: block;
}
